.App {
  text-align: center;
}

.App-logo {
  cursor: pointer;
}

.App-header {
  background-color: #FD9255;
  min-height: 5vh;
  font-size: .8rem;
  color: white;
}

.App-menu {
  min-width: 50%;
}

.card {
  border: solid 1px #F9F9F9;
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
}

.couter-button {
  background-color: #E2E2E2;
}

.clearBtn {
  border: solid 1px #FD9255;
  background-color: #FFFFFF;
}

.clearBtn:hover {
  border: solid 1px #FFFFFF;
  background-color: #FD9255;
  transition: ease-out 1s;
}

.calcBtn:hover {
  border: solid 1px #FD9255;
  background-color: #FFFFFF;
  transition: ease-out .8s;
}

.calcBtn {
  background-color: #FD9255;
}

.sumaryTable {
  background-color: #F9F9F9;
}

.App-footer {
  min-width: 100%;
  min-height: 5vh;
  background-color: #FD9255;
  color: white;
}

footer p {
  font-size: .8rem;
}
