.App {
  text-align: center;
}

.App-logo {
  cursor: pointer;
}

.App-header {
  background-color: #FD9255;
  min-height: 5vh;
  font-size: .8rem;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-menu {
  /* cursor: pointer; */
  min-width: 50%;
  border: 1px solid;
}

.couter-button {
  background-color: #E2E2E2;
}

.App-footer {
  min-width: 100%;
  min-height: 5vh;
  background-color: #FD9255;
  color: white;
}

footer p {
  font-size: .8rem;
}

.App-link {
  color: #61dafb;
}